**/target/
**/.env
**/.env2
**/rust-toolchain
hfuzz_target
hfuzz_workspace
**/Cargo.lock
testing/metadata-gen/polkadot-sdk
testing/zombienet-sdk-tests/metadata-files/*.scale

**/*.rs.bk

*.o
*.so
*.rlib
*.dll
.gdb_history

*.exe

.DS_Store

.cargo
.idea
.vscode
*.iml
*.swp
*.swo
