**/target/
**/.env
**/.env2
**/rust-toolchain
hfuzz_target
hfuzz_workspace
**/Cargo.lock
deployments/monitoring/grafana/provisioning/dashboards/*.json

**/*.rs.bk

*.o
*.so
*.rlib
*.dll
.gdb_history

*.exe

.DS_Store

.idea
.vscode
*.iml
*.swp
*.swo
