language: rust
rust:
  - stable
  - beta
  - nightly
before_install:
  - rustup install nightly-2020-02-29
  - rustup target add wasm32-unknown-unknown --toolchain nightly
jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true
