[workspace]

members = [
	"bin/millau/node",
	"bin/rialto/node",
	"bin/millau/runtime",
	"bin/rialto/runtime",
	"modules/call-dispatch",
	"modules/substrate",
	"modules/ethereum",
	"modules/ethereum-contract/builtin",
	"modules/finality-verifier",
	"modules/currency-exchange",
	"modules/rate-limiter",
	"relays/ethereum",
	"relays/substrate",
]
