version: '3.5'
services:
  poa-node-arthur: &poa-node
    build:
      context: .
      dockerfile: ./OpenEthereum.Dockerfile
      args:
        ETHEREUM_HASH: ${ETHEREUM_HASH:-344991dbba2bc8657b00916f0e4b029c66f159e8}
        BRIDGE_HASH: ${ETH_BRIDGE_HASH:-master}

  poa-node-bertha:
    <<: *poa-node

  poa-node-carlos:
    <<: *poa-node

  relay-eth2sub:
    build:
      context: .
      dockerfile: ./Bridge.Dockerfile
      args:
        BRIDGE_HASH: ${RELAY_BRIDGE_HASH:-master}
        PROJECT: ethereum-poa-relay

  poa-exchange-tx-generator:
    build:
      context: .
      dockerfile: ./Bridge.Dockerfile
      args:
        BRIDGE_HASH: ${RELAY_BRIDGE_HASH:-master}
        PROJECT: ethereum-poa-relay

  relay-eth-exchange-sub:
    build:
      context: .
      dockerfile: ./Bridge.Dockerfile
      args:
        BRIDGE_HASH: ${RELAY_BRIDGE_HASH:-master}
        PROJECT: ethereum-poa-relay

  relay-sub2eth:
    build:
      context: .
      dockerfile: ./Bridge.Dockerfile
      args:
        BRIDGE_HASH: ${RELAY_BRIDGE_HASH:-master}
        PROJECT: ethereum-poa-relay

  rialto-bridge-node-alice: &rialto-bridge-node
    build:
      context: .
      dockerfile: ./Bridge.Dockerfile
      args:
        BRIDGE_HASH: ${NODE_BRIDGE_HASH:-master}
        PROJECT: rialto-bridge-node

  rialto-bridge-node-bob:
    <<: *rialto-bridge-node

  rialto-bridge-node-charlie:
    <<: *rialto-bridge-node

  rialto-bridge-node-dave:
    <<: *rialto-bridge-node

  rialto-bridge-node-eve:
    <<: *rialto-bridge-node
