version: '3.5'
services:
  poa-node-arthur: &poa-node
    image: hcastano/openethereum-bridge-builtins
    entrypoint:
      - /home/openethereum/openethereum
      - --config=/config/poa-node-config
      - --node-key=arthur
      - --engine-signer=0x005e714f896a8b7cede9d38688c1a81de72a58e4
    volumes:
      - ./poa-config:/config
    environment:
      RUST_LOG: rpc=trace,txqueue=trace,bridge-builtin=trace
    ports:
      - "8545:8545"
      - "8546:8546"
      - "30303:30303"

  poa-node-bertha:
    <<: *poa-node
    entrypoint:
      - /home/openethereum/openethereum
      - --config=/config/poa-node-config
      - --node-key=bertha
      - --engine-signer=0x007594304039c2937a12220338aab821d819f5a4
    ports:
      - "8645:8545"
      - "8646:8546"
      - "31303:30303"

  poa-node-carlos:
    <<: *poa-node
    entrypoint:
      - /home/openethereum/openethereum
      - --config=/config/poa-node-config
      - --node-key=carlos
      - --engine-signer=0x004e7a39907f090e19b0b80a277e77b72b22e269
    ports:
      - "8745:8545"
      - "8746:8546"
      - "32303:30303"

  relay-eth2sub:
    image: paritytech/ethereum-poa-relay
    entrypoint: /config/relay-eth2sub-entrypoint.sh
    volumes:
      - ./bridge-config:/config
    environment:
      RUST_LOG: rpc=trace,bridge=trace
    ports:
      - "9616:9616"
    depends_on: &all-nodes
      - poa-node-arthur
      - poa-node-bertha
      - poa-node-carlos
      - bridge-node-alice
      - bridge-node-bob
      - bridge-node-charlie
      - bridge-node-dave
      - bridge-node-eve

  poa-exchange-tx-generator:
    image: paritytech/ethereum-poa-relay
    entrypoint: /config/poa-exchange-tx-generator-entrypoint.sh
    volumes:
      - ./bridge-config:/config
    environment:
      RUST_LOG: rpc=trace,bridge=trace
      EXCHANGE_GEN_MIN_AMOUNT_FINNEY: ${EXCHANGE_GEN_MIN_AMOUNT_FINNEY:-1}
      EXCHANGE_GEN_MAX_AMOUNT_FINNEY: ${EXCHANGE_GEN_MAX_AMOUNT_FINNEY:-100000}
      EXCHANGE_GEN_MAX_SUBMIT_DELAY_S: ${EXCHANGE_GEN_MAX_SUBMIT_DELAY_S:-60}
    depends_on: *all-nodes

  relay-eth-exchange-sub:
    image: paritytech/ethereum-poa-relay
    entrypoint: /config/relay-eth-exchange-sub-entrypoint.sh
    volumes:
      - ./bridge-config:/config
    environment:
      RUST_LOG: rpc=trace,bridge=trace
    ports:
      - "9716:9616"
    depends_on: *all-nodes

  relay-sub2eth:
    image: paritytech/ethereum-poa-relay
    entrypoint: /config/relay-sub2eth-entrypoint.sh
    volumes:
      - ./bridge-config:/config
    environment:
      RUST_LOG: rpc=trace,bridge=trace
    ports:
      - "9618:9616"
    depends_on: *all-nodes

  bridge-node-alice: &bridge-node
    image: paritytech/bridge-node
    entrypoint:
      - /home/user/bridge-node
      - --execution=Native
      - --chain=local
      - --bootnodes=/dns4/bridge-node-bob/tcp/30333/p2p/12D3KooWSEpHJj29HEzgPFcRYVc5X3sEuP3KgiUoqJNCet51NiMX
      - --alice
      - --node-key=79cf382988364291a7968ae7825c01f68c50d679796a8983237d07fe0ccf363b
      - --rpc-cors=all
      - --unsafe-rpc-external
      - --unsafe-ws-external
    volumes:
      - ./bridge-config:/config
    environment: &bridge-env
      RUST_LOG: runtime=trace,rpc=debug,txpool=trace
    ports:
      - "9933:9933"
      - "9944:9944"

  bridge-node-bob:
    <<: *bridge-node
    entrypoint:
      - /home/user/bridge-node
      - --execution=Native
      - --chain=local
      - --bootnodes=/dns4/bridge-node-alice/tcp/30333/p2p/12D3KooWMF6JvV319a7kJn5pqkKbhR3fcM2cvK5vCbYZHeQhYzFE
      - --bob
      - --node-key=4f9d0146dd9b7b3bf5a8089e3880023d1df92057f89e96e07bb4d8c2ead75bbd
      - --rpc-cors=all
      - --unsafe-rpc-external
      - --unsafe-ws-external
    ports:
      - "10033:9933"
      - "10044:9944"

  bridge-node-charlie:
    <<: *bridge-node
    environment:
      <<: *bridge-env
      VIRTUAL_HOST: rialto.bridges.test-installations.parity.io,wss.rialto.brucke.link
      VIRTUAL_PORT: 9944
      LETSENCRYPT_HOST: rialto.bridges.test-installations.parity.io,wss.rialto.brucke.link
      LETSENCRYPT_EMAIL: admin@parity.io
    entrypoint:
      - /home/user/bridge-node
      - --execution=Native
      - --chain=local
      - --bootnodes=/dns4/bridge-node-alice/tcp/30333/p2p/12D3KooWMF6JvV319a7kJn5pqkKbhR3fcM2cvK5vCbYZHeQhYzFE
      - --charlie
      - --rpc-cors=all
      - --unsafe-rpc-external
      - --unsafe-ws-external
    ports:
      - "10133:9933"
      - "10144:9944"

  bridge-node-dave:
    <<: *bridge-node
    entrypoint:
      - /home/user/bridge-node
      - --execution=Native
      - --chain=local
      - --bootnodes=/dns4/bridge-node-alice/tcp/30333/p2p/12D3KooWMF6JvV319a7kJn5pqkKbhR3fcM2cvK5vCbYZHeQhYzFE
      - --dave
      - --rpc-cors=all
      - --unsafe-rpc-external
      - --unsafe-ws-external
    ports:
      - "10233:9933"
      - "10244:9944"

  bridge-node-eve:
    <<: *bridge-node
    entrypoint:
      - /home/user/bridge-node
      - --execution=Native
      - --chain=local
      - --bootnodes=/dns4/bridge-node-alice/tcp/30333/p2p/12D3KooWMF6JvV319a7kJn5pqkKbhR3fcM2cvK5vCbYZHeQhYzFE
      - --eve
      - --rpc-cors=all
      - --unsafe-rpc-external
      - --unsafe-ws-external
    ports:
      - "10333:9933"
      - "10344:9944"

  prometheus-metrics:
    image: prom/prometheus:v2.20.1
    volumes:
      - ./dashboard/prometheus/:/etc/prometheus/
    ports:
      - "9090:9090"
    depends_on: *all-nodes

  grafana-dashboard:
    image: grafana/grafana:7.1.3
    environment:
      VIRTUAL_HOST: dashboard.rialto.bridges.test-installations.parity.io,grafana.rialto.brucke.link
      VIRTUAL_PORT: 3000
      LETSENCRYPT_HOST: dashboard.rialto.bridges.test-installations.parity.io,grafana.rialto.brucke.link
      LETSENCRYPT_EMAIL: admin@parity.io
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASS:-admin}
      GF_SERVER_ROOT_URL: ${GRAFANA_SERVER_ROOT_URL}
      GF_SERVER_DOMAIN: ${GRAFANA_SERVER_DOMAIN}
    volumes:
      - ./dashboard/grafana/provisioning/:/etc/grafana/provisioning/
    ports:
      - "3000:3000"
    depends_on:
      - prometheus-metrics

  grafana-matrix-notifier:
    build:
      context: .
      dockerfile: ./GrafanaMatrix.Dockerfile
    volumes:
      - ./dashboard/grafana-matrix:/config
    ports:
      - "4567:4567"
    depends_on:
      - grafana-dashboard
  front-end:
    build:
      context: .
      dockerfile: ./Front-end.Dockerfile
    environment:
      SUBSTRATE_PROVIDER: ${UI_SUBSTRATE_PROVIDER:-ws://localhost:9933}
      ETHEREUM_PROVIDER: ${UI_ETHEREUM_PROVIDER:-http://localhost:8545}
      EXPECTED_ETHEREUM_NETWORK_ID: 105
    ports:
      - "8080:80"
