name:                              Compilation and Testing Suite

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v*
    paths-ignore:
      - 'README.md'
      - diagrams/
  schedule:                        # Weekly build
    - cron:                        '0 0 * * 0'
jobs:

## Check stage
  check-test-build:
    name:                          Check, test and build
    strategy:
      matrix:
        toolchain:
          - stable
          #- beta
          - nightly
    runs-on:                       self-hosted
    container:
      image:                       paritytech/ci-linux:production
      volumes:
        - /cache:/cache
    env:
      RUST_BACKTRACE:              full
      SCCACHE_REDIS:               redis://172.17.0.1/0
      SCCACHE_IDLE_TIMEOUT:        0
      CMAKE_C_COMPILER_LAUNCHER:   sccache
      CMAKE_CXX_COMPILER_LAUNCHER: sccache
    steps:
      - name:                      Cancel Previous Runs
        uses:                      styfle/cancel-workflow-action@0.4.1
        with:
          access_token:            ${{ github.token }}
      - name:                      Checkout sources & submodules
        uses:                      actions/checkout@master
        with:
          fetch-depth:             5
          submodules:              recursive
      - name:                      Configure CARGO_HOME & CARGO_TARGET_DIR
        run:                       |
          echo "::set-env name=CARGO_HOME::/cache/${{ github.head_ref }}/${{ matrix.toolchain }}"
          echo "::set-env name=CARGO_TARGET_DIR::/cache/${{ github.head_ref }}/${{ matrix.toolchain }}"
      - name:                      Cache checking
        if:                        github.event_name == 'pull_request' && github.event.action == 'opened' || github.event.action == 'reopened'
        continue-on-error:         true
        run:                       |
            echo "Copy cache from master";
            mkdir -p $CARGO_TARGET_DIR;
            apt update&&apt install rsync -y;
            # TODO add rsync in docker
            rsync -aq /cache/${{ matrix.toolchain }}/ $CARGO_TARGET_DIR/;
        shell:                     bash
      - name:                      Checking the Rust nightly version
        run:                       |
          mkdir -p $CARGO_TARGET_DIR;
          echo "Current Rust nightly version:";
          rustc +nightly --version;
          echo "Cached Rust nightly version:";
          if [ ! -f $CARGO_TARGET_DIR/check_nightly_rust ]; then
            echo "" > $CARGO_TARGET_DIR/check_nightly_rust;
          fi
          cat $CARGO_TARGET_DIR/check_nightly_rust;
          if [[ $(cat $CARGO_TARGET_DIR/check_nightly_rust) == $(rustc +nightly --version) ]];
            then echo "The Rust nightly version has not changed";
            else
            echo "The Rust nightly version has changed. Clearing the cache";
            rm -rf $CARGO_TARGET_DIR/*;
          fi;
          rustc +nightly --version > $CARGO_TARGET_DIR/check_nightly_rust;
        shell:                     bash
      - name:                      Checking rust-${{ matrix.toolchain }}
        uses:                      actions-rs/cargo@master
        with:
          command:                 check
          toolchain:               ${{ matrix.toolchain }}
          args:                    --all  --verbose
## Test stage
      - name:                      Testing rust-${{ matrix.toolchain }}
        uses:                      actions-rs/cargo@master
        with:
          command:                 test
          toolchain:               ${{ matrix.toolchain }}
          args:                    --all  --verbose
      - name:                      Check kovan-bridge runtime ${{ matrix.platform }} rust-${{ matrix.toolchain }}
        uses:                      actions-rs/cargo@master
        with:
          command:                 check
          toolchain:               ${{ matrix.toolchain }}
          args:                    --manifest-path ./bin/node/node/Cargo.toml --no-default-features --features bridge-kovan --verbose
      - name:                      Check testpoa-bridge runtime ${{ matrix.platform }} rust-${{ matrix.toolchain }}
        uses:                      actions-rs/cargo@master
        with:
          command:                 check
          toolchain:               ${{ matrix.toolchain }}
          args:                    --manifest-path ./bin/node/node/Cargo.toml --no-default-features --features bridge-testpoa --verbose
      - name:                      Check benchmarks runtime ${{ matrix.platform }} rust-${{ matrix.toolchain }}
        uses:                      actions-rs/cargo@master
        with:
          command:                 check
          toolchain:               ${{ matrix.toolchain }}
          args:                    --manifest-path ./bin/node/node/Cargo.toml --no-default-features --features runtime-benchmarks --verbose

## Build stage
      - name:                      Building rust-${{ matrix.toolchain }}
        uses:                      actions-rs/cargo@master
        if:                        github.ref == 'refs/heads/master'
        with:
          command:                 build
          toolchain:               ${{ matrix.toolchain }}
          args:                    --all --release --verbose
      - name:                      Prepare artifacts
        if:                        github.ref == 'refs/heads/master'
        run:                       |
          mkdir -p ./artifacts;
          mv -v $CARGO_TARGET_DIR/release/bridge-node ./artifacts/;
          mv -v $CARGO_TARGET_DIR/release/ethereum-poa-relay ./artifacts/;
          mv -v $CARGO_TARGET_DIR/release/substrate-bridge ./artifacts/;
        shell:                     bash
      - name:                      Upload artifacts
        if:                        github.ref == 'refs/heads/master'
        uses:                      actions/upload-artifact@v1
        with:
          name:                    ${{ matrix.toolchain }}.zip
          path:                    artifacts/
<<<<<<< HEAD

## Cleanup stage
      - name:                      Cleanup after merge pull request
        if:                        always()
        run:                       |
          #debug
          if ${{ github.event_name == 'pull_request' }} && ${{ github.event.action == 'closed' }} && ${{ github.event.pull_request.merged == true }}; then
            echo "merged, cleaning";
            rm -rf $CARGO_TARGET_DIR;
          else
            echo "nothing to do"
          fi;
          echo "github.event_name == " ${{ github.event_name }};
          echo "github.event.action == " ${{ github.event.action }};
          echo "github.event.pull_request.merged == " ${{ github.event.pull_request.merged }};
          echo "github.ref == " ${{ github.ref }};
        shell:                     bash
=======
>>>>>>> master
