name:                              Compilation and Testing Suite

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v*
    paths-ignore:
      - 'README.md'
      - diagrams/
  schedule:                        # Weekly build
    - cron:                        '0 0 * * 0'
jobs:

## Check stage
  check-test-build:
    name:                          Check, test and build
    strategy:
      matrix:
        toolchain:
          - stable
          #- beta
          - nightly
    runs-on:                       self-hosted
    container:
      image:                       paritytech/ci-linux:production
      volumes:
        - /cache:/cache
      options:                     --cpus 8
    env:
      RUST_BACKTRACE:              full
      SCCACHE_REDIS:               redis://172.17.0.1/0
      SCCACHE_IDLE_TIMEOUT:        0
      CMAKE_C_COMPILER_LAUNCHER:   sccache
      CMAKE_CXX_COMPILER_LAUNCHER: sccache
    steps:
      - name:                      Checkout sources & submodules
        uses:                      actions/checkout@master
        with:
          fetch-depth:             5
          submodules:              recursive
      - name:                      Configure CARGO_HOME & CARGO_TARGET_DIR
        run:                       |
          echo "::set-env name=CARGO_HOME::/cache/${{ github.head_ref }}/${{ matrix.toolchain }}"
          echo "::set-env name=CARGO_TARGET_DIR::/cache/${{ github.head_ref }}/${{ matrix.toolchain }}"
      - name:                      Checking the Rust nightly version
        run:                       |
          mkdir -p $CARGO_TARGET_DIR;
          echo "Current Rust nightly version:";
          rustc +nightly --version;
          echo "Cached Rust nightly version:";
          if [ ! -f $CARGO_TARGET_DIR/check_nightly_rust ]; then
            echo "" > $CARGO_TARGET_DIR/check_nightly_rust;
          fi
          cat $CARGO_TARGET_DIR/check_nightly_rust;
          if [[ $(cat $CARGO_TARGET_DIR/check_nightly_rust) == $(rustc +nightly --version) ]];
            then echo "The Rust nightly version has not changed";
            else
            echo "The Rust nightly version has changed. Clearing the cache";
            rm -rf $CARGO_TARGET_DIR/*;
          fi
        shell:                     bash
      - name:                      Add rustfmt
        run:                       rustup component add rustfmt --toolchain ${{ matrix.toolchain }}
      - name:                      Style check
        uses:                      actions-rs/cargo@master
        with:
          command:                 fmt
          toolchain:               ${{ matrix.toolchain }}
          args:                    --all -- --check
      - name:                      Checking rust-${{ matrix.toolchain }}
        uses:                      actions-rs/cargo@master
        with:
          command:                 check
          toolchain:               ${{ matrix.toolchain }}
          args:                    --all  --verbose
      - name:                      Stats sccache
        if:                        always()
        run:                       sccache --show-stats
## Test stage
      - name:                      Testing rust-${{ matrix.toolchain }}
        uses:                      actions-rs/cargo@master
        with:
          command:                 test
          toolchain:               ${{ matrix.toolchain }}
          args:                    --all  --verbose
      - name:                      Stats sccache
        if:                        always()
        run:                       sccache --show-stats
      - name:                      Check kovan-bridge runtime ${{ matrix.platform }} rust-${{ matrix.toolchain }}
        uses:                      actions-rs/cargo@master
        with:
          command:                 check
          toolchain:               ${{ matrix.toolchain }}
          args:                    --manifest-path ./bin/node/node/Cargo.toml --no-default-features --features bridge-kovan --verbose
      - name:                      Check testpoa-bridge runtime ${{ matrix.platform }} rust-${{ matrix.toolchain }}
        uses:                      actions-rs/cargo@master
        with:
          command:                 check
          toolchain:               ${{ matrix.toolchain }}
          args:                    --manifest-path ./bin/node/node/Cargo.toml --no-default-features --features bridge-testpoa --verbose
      - name:                      Check benchmarks runtime ${{ matrix.platform }} rust-${{ matrix.toolchain }}
        uses:                      actions-rs/cargo@master
        with:
          command:                 check
          toolchain:               ${{ matrix.toolchain }}
          args:                    --manifest-path ./bin/node/node/Cargo.toml --no-default-features --features runtime-benchmarks --verbose

## Build stage
      - name:                      Building rust-${{ matrix.toolchain }}
        uses:                      actions-rs/cargo@master
        if:                        github.ref == 'refs/heads/master'
        with:
          command:                 build
          toolchain:               ${{ matrix.toolchain }}
          args:                    --all --release --verbose
      - name:                      Stats sccache
        if:                        always()
        run:                       sccache --show-stats
      - name:                      Prepare artifacts
        if:                        github.ref == 'refs/heads/master'
        run:                       |
          mkdir -p ./artifacts;
          mv -v $CARGO_TARGET_DIR/release/bridge-node ./artifacts/;
          mv -v $CARGO_TARGET_DIR/release/ethereum-poa-relay ./artifacts/;
          mv -v $CARGO_TARGET_DIR/release/substrate-bridge ./artifacts/;
        shell:                     bash
      - name:                      Rust nightly version
        run:                       |
          echo "Cached Rust nightly version:";
          rustc +nightly --version;
          rustc +nightly --version > $CARGO_TARGET_DIR/check_nightly_rust;
        shell:                     bash
      - name:                      Upload artifacts
        if:                        github.ref == 'refs/heads/master'
        uses:                      actions/upload-artifact@v1
        with:
          name:                    ${{ matrix.toolchain }}.zip
          path:                    artifacts/

